html {
    background-color: #f2f2f2;
}

#task-name {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.button {
    background-color: #555555; color: #FFFFFF;
    border: none;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}

#todo {
    width: 98%;
}

.task {
    border: 1px solid #ccc !important;
    margin: 0 0 0 10px;
    padding: 10px;
    background: white;
    border-radius: 5px 5px 5px 5px;
}

a {
    position: absolute;
    right: 100px;
}

.true {
    text-decoration: line-through;
    font-style: italic;
}