<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div id="page">
    <form id="todo-form">
        <div class="field-group">
            <table id="daily-transaction-form-table">
                <tr>
                    <td>
                        <label for="task-name" class="label">Task name:</label>
                        <input id="task-name" type="text" class="text medium-field"/>
                    </td>
                </tr>
            </table>
        </div>
        <div class="field-group top-label">
            <input class="button" id="submit-button create-task-button" type="submit" value="Add" />
        </div>
    </form>
    <div id="your-todo">
        <table id="todo"></table>
    </div>
    <div class="button" id="remove-completed">Remove Completed</div>
</div>
<script th:src="@{/js/todo.js}"></script>
<link rel="stylesheet" th:href="@{/css/todo.css}" />
</body>
</html>